<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, size: "10x25", class: "form-control"%>
    </div>

    <div class="actions">
      <%= form.submit "投稿", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
