<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control"%>
    </div>

    <div class="field">
      <%= form.label :content %>
      <%= form.text_area :content, class: "form-control"%>
    </div>

    <% if action_name == "edit" %>
      <div class="field">
        <% @tag_number = 1 %>
        <%= form.fields_for :comments do |comment| %>
          <h2>コメント<%= @tag_number %></h2>
          <% @tag_number += 1 %>
          <p>
            <%= comment.label :name %>
            <%= comment.text_field :name %>
          </p>
          <p>
            <%= comment.label :content %>
            <%= comment.text_field :content %>
          </p>
          <% if @blog.persisted? %>
            <%= comment.label "削除" %>
            <%= comment.check_box :_destroy %>
          <% end %>
        <% end %>
      </div>
    <% end %>


    <div class="actions">
      <%= form.submit "投稿", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
