<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tr>
    <th><%= @blog.title %></th>
  </tr>
  <tr>
    <td>
      <%= safe_join(@blog.content.split("\n"),tag(:br)) %><br><br>
      <%= l @blog.created_at, format: :short %>
    </td>
  </tr>
</table>

<h2>コメント</h2>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
</div>
<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
