<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <tr>
    <th><%= @blog.title %></th>
  </tr>
  <tr>
    <td>
      <%= safe_join(@blog.content.split("\n"),tag(:br)) %><br><br>
      <%= l @blog.created_at, format: :short %>
    </td>
  </tr>
</table>

<table class="table table-bordered">
  <% @tag_number = 1 %>
  <% @blog.comments.each do |comment| %>
  <tr>
    <th><%= @tag_number %>. <%= comment.name %></th>
  </tr>
  <tr>
    <td>
      <%= safe_join(comment.content.split("\n"),tag(:br)) %><br><br>
      <%= l comment.created_at, format: :short %>
    </td>
  </tr>
  <% @tag_number += 1 %>
  <% end %>
</table>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
